


/* decorative elements */


.special-highlight {

	-webkit-text-fill-color: white;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: black;

	font-size: 56px;


}

@media (min-width: 1512px) {



	.special-highlight{
		font-size: 120px;
		margin-bottom: 32px;
	}
}