:root {
	--black: #1A1A1A;
	--bg: #f8fafc;
	--dec-font: "Amiko", serif;
	--highlight: #222222;
	--white: #ffffff;
	--highlight-sm: #000BA0;

	font-size: 18px;
	line-height: 28px;

	background-color: var(--bg);
	color: var(--black);

	font-family: "Libre Franklin", sans-serif;

}

article {
	&p{
	text-wrap: pretty;
	}
}

h1,
h2,
h3 {
	font-family: var(--dec-font);
}

h1 {
	font-size: 52px;
	line-height: 56px;
	font-family: var(--dec-font);

	padding-inline: 20px;
	width: fit-content;
	text-transform: uppercase;

	vertical-align: middle;
	font-weight: 600;

	margin-bottom: 44px;
	margin-top: 34px;
}

nav {

	padding-inline: 20px;

	position: relative;
	z-index: 2;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem;

	font-family: var(--dec-font);

	&>:nth-child(1) {

		display: flex;
		justify-content: flex-start;
		gap: 12px;
		align-items: center;

	}
}


nav:has(input:checked) ul {
	top: 100%;
}


footer {
	margin-top: 80px;
	padding-inline: 20px;
	margin-bottom: 50px;
	display: flex;
	justify-content: space-between;

	&>section {
		display: flex;
		justify-content: space-between;
		width: fit-content;
		gap: 6px;
		text-wrap: nowrap;
	}
}

/* mobile only */

.padding-20 {
	padding-inline: 20px;
}


/* paddings and margins */

.paragraph-section {
	p {
		margin-top: 20px;
	}
}
.margin-top-sm{
	margin-top: 6px;
}
.margin-top-md {
	margin-top: 70px;
}

.margin-20{
	margin-inline: 20px;
}

/* decorative elements, interactions */

.square-logo {
	display: block;
	width: 32px;
	height: 32px;

	background-color: var(--black);
}



.hidden {
	display: none;
}


.background-highlight {
	font-weight: 600;
	font-style: italic;
}

.animated-banner {

	font-size: 40px;

	background-color: black;
	padding-block: 10px;

	margin-bottom: 30px;

	width: 100%;
	overflow: hidden;

	em {
		text-wrap: nowrap;
		color: white;
		display: block;
		animation: moveText 6s linear infinite;
	}
}


@keyframes moveText {
	0% {
		transform: translateX(100%);
	}

	100% {
		transform: translateX(-100%);
	}
}



/* lines */

.line-horizontal {
	width: 100%;
	height: 2px;
	background-color: var(--black);
}

.line-vertical {
	background-color: var(--black);
	width: 2px;
	height: 100%;
}

.lines-together {
	width: 100%;
	display: flex;
	align-items: center;
}

/* add lines-together class here from previous github push */


.link-lg {
	text-decoration: underline;
	text-transform: uppercase;
	padding-inline: 2px;

	&:hover {
		background-color: var(--black);
		color: var(--bg);
	}
}



/* font styles */

.uppercase {
	text-transform: uppercase;
}

.underline {
	text-decoration: underline;
}

.bold {
	font-weight: 600;
}

.caption {
	font-weight: 600;
	font-style: italic;
}



/* specific tags */

.h2-landing-sm {

	border-bottom: 1px solid var(--black);
	padding-bottom: 12px;
	margin-bottom: 20px;

	font-size: 20px;
	line-height: 30px;
}

.author-name {
	display: flex;
	justify-content: space-between;
	align-self: flex-start;
	gap: 1rem;
	width: 100%;
	text-wrap: nowrap;
	font-family: var(--dec-font);

	padding-inline: 20px;

	&>p{
		width: fit-content;
	}
}

quote {
	
	font-weight: 200;
	font-size: 1.3rem;

}





.title-2 {

	margin-bottom: 40px;
	
	font-size: 32px;
	line-height: 44px;

	background: var(--bg);

	padding-block: 12px;
	padding-inline: 20px;
	border-bottom: solid 2px var(--black);
	

	font-weight: 600;


	position: sticky;
	top: 0;
}

.link-sm {
	text-decoration: underline;
	font-weight: 100;

	&:hover {

		color: blue;
	}

}

.button-secondary {

	font-family: var(--dec-font);
	border: solid 1px var(--black);
	border-radius: 4px;

	background-color: var(--bg);

	padding-block: 8px;

	text-align: center;


	&:hover {

		color: white;
		background-color: var(--black);
	}


}



/* containers, table-of content */





.about {

	margin-top: 54px;

	padding-inline: 20px;

	display: flex;
	flex-direction: column;

	& li {
		border-bottom: solid 1px var(--black);
		padding-bottom: 6px;
		padding-top: 12px;

		display: flex;
		justify-content: space-between;

	}

	&>ul {
		display: flex;
		flex-direction: column;

		margin-bottom: 24px;
	}

}

.introduction {

	margin-top: 54px;

	padding: 20px;
}


/* paragraph alignment */

.paragraph-column {
	margin-top: 20px;
	margin-bottom: 30px;
}

.paragraph-center {
	margin-top: 20px;
	margin-bottom: 30px;
}


@media (max-width: 1512px) {
	nav {
		--height: 80px;
		height: var(--height);

		& ul {
			padding-inline: 20px;
			background-color: var(--bg);
			position: absolute;
			left: 0;
			width: 100vw;
			transition: top 0.3s ease-in-out;
			top: calc(-100vh + var(--height));
			height: calc(100vh - var(--height));

			text-align: center;
			text-decoration: underline;

			& li {
				padding-block: 20px;
				border-bottom: 1px solid var(--black);
			}
		}
	}
}



@media (min-width: 1512px) {

	/* paragraph alignment */

	.align-center {
		text-align: center;
	}

	.paragraph-column {
		display: flex;
		flex-direction: row;


		margin-top: 40px;
		margin-bottom: 150px;

		&>section {

			width: 60%;
			margin-left: auto;

		}
	}

	.paragraph-center {
		margin-top: 80px;
		margin-bottom: 150px;

		&>section {

			width: 60%;
			margin: auto;

		}
	}


	/* web only */

	.margin-20{
		margin-inline: 0px;
	}

	.margin-top-sm{
		margin-top: 130px;
	}

	.two-column-style {
		display: flex;
		justify-content: space-between;
		width: 100%;
		gap: 70px;

		margin-top: 130px;

	}



	nav .link-lg {
		display: none;
	}

	nav ul {
		display: flex;
		align-items: center;
		gap: 24px;

		& a {
			cursor: pointer;
			text-decoration: underline;

			&:hover {
				background-color: var(--black);
				color: var(--white);
			}
		}
	}



	/* padding and margins */

	footer{
		margin-top: 120px;
		margin-bottom: 50px;
	}

	h1 {

		padding: 0px;

		margin-top: 130px;
		margin-bottom: 62px;

	}

	.padding-20 {
		padding: 0px;
	}

	.margin-top-md {
		margin-top: 170px;
	}


	/* paragraph width */

	.paragraph-section {
		p {
			margin-top: 32px;
		}
	}

	.p-size-xs {
		max-width: 630px;
	}

	.p-size-m {
		max-width: 840px;
	}
	

	body {
		max-width: 1300px;
		margin-inline: auto;
	}



	.about {
		width: 30%;
		padding: 0px;
		margin: 0px;

		& li {
			padding-bottom: 5px;
			padding-top: 0px;

		}

		&>ul {
			gap: 24px;

			margin-bottom: 37px;
		}

	}

	.introduction {
		width: 60%;
		margin: 0px;
		padding: 0px;
	}

	.author-name {

		width: 50%;

	}


	/* titles, text sizes */

	h1 {
		font-size: 100px;
		line-height: 116px;
	}

	.title-2 {
		font-size: 70px;
		line-height: 80px;
		font-weight: 600;
		padding-block: 24px;

	}



	:root {
		font-size: 22px;
		line-height: 40px;
	}

	.h2-landing-sm {

		border-bottom: 1px solid var(--black);
		padding-bottom: 18px;

		font-size: 32px;
		line-height: 43px;

		margin-bottom: 56px;

	}

	.button-secondary {

		width: 100%;
		font-size: 18px;
		line-height: 24px;


	}




	/* decorative */

	.animated-banner {

		font-size: 100px;
		line-height: 80px;
		
	
		margin-bottom: 130px;
	
		width: 100%;
		overflow: hidden;
	
	}
	
}