

@media (min-width:668px){
	
	.padding-20{
		padding-inline: 100px;
	}
	.paragraph-section {
		p {
			margin-top: 30px;
		}
	}
	.margin-20{
		margin-inline: 100px;
	}

	:root {
		font-size: 22px;
		line-height: 38px;
	}

	h1{
		font-size: 76px;
		line-height: 86px;
		margin-block: 56px;
	}
	
	nav,h1,footer{
		padding-inline: 100px;
	}

	.additional-footer,
	.title-2,
	.about,
	.introduction {
		padding-inline: 100px;
	}

	.title-2{
		font-size: 54px;
		line-height: 66px;
		padding-block: 20px;
		margin-bottom: 64px;
	}

	.animated-banner {

		font-size: 80px;
		line-height: 60px;
		
		margin-block: 100px;
	
	}



}


@media (min-width:1100px){

	:root {
		font-size: 20px;
		line-height: 34px;
	}

	body {
		max-width: 1000px;
		margin-inline: auto;
	}

	.padding-20 {
		padding: 0px;
	}
	.margin-20{
		margin-inline: 0px;
	}

	/* paragraph alignment */

	.align-center {
		text-align: center;
	}

	.paragraph-column {
		display: flex;
		flex-direction: row;


		margin-top: 30px;
		margin-bottom: 10px;

		&>section {

			width: 60%;
			margin-left: auto;

		}
	}

	.paragraph-center {
		margin-top: 50px;
		margin-bottom: 110px;

		&>section {

			width: 60%;
			margin: auto;

		}
	}


	/* web only */

	.margin-20{
		margin-inline: 0px;
	}

	.padding-20 {
		padding: 0px;
	}

	.margin-top-sm{
		margin-top: 110px;
	}

	.margin-top-md {
		margin-top: 130px;
	}

	.two-column-style {
		display: flex;
		justify-content: space-between;
		width: 100%;
		gap: 80px;

		margin-top: 170px;

		font-size: 18px;
		line-height: 28px;

	}


	nav .nav-text {
		display: none;
	}

	nav ul {
		
		display: flex;
		align-items: center;
		gap: 24px;

		& a {
			cursor: pointer;
			text-decoration: underline;
			padding: 0.2rem;

			&:hover {
				background-color: var(--main-color-1);
				color: var(--white);
				
			}
		}
	}

	
	/* padding and margins */

	.additional-footer{
		padding-inline: 0px;
		display: flex;
		justify-content: space-between;
		gap: 2rem;
		width: none;
		margin-top: 0px;
	}

	footer{
		margin-top: 90px;
		margin-bottom: 50px;
	}

	nav{
		padding-inline: 0px;
	}

	h1 {

		padding: 0px;

		margin-top: 130px;
		margin-bottom: 62px;

	}


	/* paragraph width */

	.paragraph-section {
		p {
			margin-top: 24px;
		}
	}

	.p-size-xs {
		max-width: 630px;
	}

	.p-size-m {
		max-width: 840px;
	}


	.about {
		width: 30%;
		padding: 0px;
		margin: 0px;

		& li {
			padding-bottom: 5px;
			padding-top: 0px;

		}

		&>ul {
			gap: 24px;

			margin-bottom: 37px;
		}

	}

	.introduction {
		width: 60%;
		margin: 0px;
		padding: 0px;
	}

	.author-name {
		width: 40%;
	}


	/* titles, text sizes */

	h1 {
		font-size: 100px;
		line-height: 116px;
	}

	.title-2 {
		font-size: 56px;
		line-height: 66px;
		font-weight: 600;
		padding-block: 20px;

	}


	.h2-landing-sm {

		padding-bottom: 18px;

		font-size: 24px;
		line-height: 33px;

		margin-bottom: 56px;

	}

	.button-secondary {

		width: 100%;
		font-size: 18px;
		line-height: 24px;

	}


	/* decorative */

	.animated-banner {

		font-size: 100px;
		line-height: 80px;
		
		margin-bottom: 130px;
	
		width: 100%;
		overflow: hidden;
	
	}
	

}


@media (min-width: 1440px) {

	:root {
		font-size: 22px;
		line-height: 40px;
	}

	body {
		max-width: 1300px;
		margin-inline: auto;
	}

	/* paragraph alignment */


	.paragraph-column {
		margin-top: 40px;
		margin-bottom: 150px;

	}

	.paragraph-center {
		margin-top: 80px;
		margin-bottom: 150px;
	}


	/* web only */

	.margin-top-sm{
		margin-top: 130px;
	}

	.margin-top-md {
		margin-top: 170px;
	}

	.two-column-style {
		gap: 100px;
		font-size: 20px;
		line-height: 30px;
		margin-top: 170px;

	}

	.title-2 {
		font-size: 70px;
		line-height: 80px;
		padding-block: 24px;

	}
	
	/* padding and margins */
	footer{
		margin-top: 120px;
	}


	/* paragraph width */

	.paragraph-section {
		p {
			margin-top: 32px;
		}
	}


	
}