:root {
	--black: #1A1A1A;
	--bg: #EEF5FF;
	--dec-font: "Amiko", serif;
	--highlight: #222222;
	--white: #ffffff;
	--highligh-sm: #000BA0;

	font-size: 18px;
	line-height: 28px;

	background-color: var(--bg);
	color: var(--black);

	font-family: "Libre Franklin", sans-serif;
}


h1,
h2,
h3 {
	font-family: var(--dec-font);
}

h1 {
	font-size: 52px;
	line-height: 56px;
	font-family: var(--dec-font);
}

nav {

	padding-inline: 20px;
	--height: 80px;
	position: relative;
	z-index: 2;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem;
	height: var(--height);
	font-family: var(--dec-font);

	& ul {
		padding-inline: 20px;
		background-color: var(--bg);
		position: absolute;
		left: 0;
		width: 100vw;
		transition: top 0.3s ease-in-out;
		top: calc(-100vh + var(--height));
		height: calc(100vh - var(--height));

		text-align: center;


		text-decoration: underline;

		& li {
			padding-block: 20px;
			border-bottom: 1px solid var(--black);

		}

	}

	&>:nth-child(1) {

		display: flex;
		justify-content: flex-start;
		gap: 12px;
		align-items: center;

	}
}


nav:has(input:checked) ul {
	top: 100%;
}


footer {
	margin-top: 25px;
	padding-inline: 20px;
	margin-bottom: 25px;
	display: flex;
	justify-content: space-between;

	&>section {
		display: flex;
		justify-content: space-between;
		width: fit-content;
		gap: 6px;
		text-wrap: nowrap;
	}
}

/* mobile only */

.padding-20{
	padding: 20px;
}


/* paddings and margins */

.paragraph-section {
	p{
		margin-top: 20px;
	}
}

.margin-top-md{
	margin-top: 0px;
}

/* decorative elements, interactions */

.square-logo {
	display: block;
	width: 32px;
	height: 32px;

	background-color: var(--black);
}

.sticky {
	position: sticky;
	top: 8px;
}

.hidden {
	display: none;
}

.background-highlight {
	font-weight: 600;
	font-style: italic;
	/* padding-inline: 0.125rem;
	background-color: var(--black);
	color: var(--bg); */
}

.animated-banner {
	display: block;
	font-size: 2rem;
	margin-block: 40px;
}



/* lines */

.line-horizontal {
	width: 100%;
	height: 2px;
	background-color: var(--black);
}

.line-vertical {
	background-color: var(--black);
	width: 2px;
	height: 100%;
}

/* add lines-together class here from previous github push */


.link-lg {
	text-decoration: underline;
	text-transform: uppercase;
	padding-inline: 2px;

	&:hover {
		background-color: var(--black);
		color: var(--bg);
	}
}



/* font styles */

.uppercase {
	text-transform: uppercase;
}

.underline {
	text-decoration: underline;
}

.bold {
	font-weight: 600;
}

.caption{
	font-weight: 600;
	font-style: italic;
}



/* specific tags */

.h2-landing-sm {

	border-bottom: 1px solid var(--black);
	padding-bottom: 12px;
	margin-bottom: 20px;

	font-size: 24px;
	line-height: 32px;
}

.author-name {
	display: flex;
	justify-content: space-between;
	align-self: flex-start;
	gap: 1rem;
	width: 50%;
	text-wrap: nowrap;
	font-family: var(--dec-font);

	padding-inline: 20px;
}

quote {
	font-style: italic;
}

.block-quotes{
	border: solid 2px var(--highligh-sm);
	padding-inline: 20px;
	padding-block: 20px;

	font-size: 20px;
	line-height: 30px;

	font-weight: 600;
	font-style: italic;

	margin-block:54px;

	&>span{
		background-color: var(--highligh-sm);
		color: var(--bg);
	}
}

.title-2 {
	font-size: 36px;
	line-height: 46px;

	font-weight: 600;
}

.link-sm{
	text-decoration: underline;
	font-weight: 100;

	&:hover {

		color:blue;
	}
	
}

.button-secondary{

	font-family: var(--dec-font);
	border: solid 1px var(--black);
	border-radius: 4px;

	background-color: var(--bg);

	padding-block: 8px;

	text-align: center;


	&:hover {

		color:white;
		background-color: var(--black);
	}


}



/* containers, table-of content */





.about {

	margin-top: 54px;

	padding-inline: 20px;

	display: flex;
	flex-direction: column;

	& li{
		border-bottom: solid 1px var(--black);
		padding-bottom: 6px;
		padding-top: 12px;

		display: flex;
		justify-content: space-between;
		
	}

	&>ul{
		display: flex;
		flex-direction: column;

		margin-bottom: 24px;
	}

}

.introduction{

	margin-top:54px;

	padding: 20px;
}


/* paragraph alignment */

.paragraph-column {
	margin-top: 20px;
}

.paragraph-center {
	margin-top: 20px;
}




@media (min-width: 1512px) {

	/* paragraph alignment */

	.align-center {
		text-align: center;

	}

	.paragraph-column {
		display: flex;
		flex-direction: row;


		margin-top: 60px;

		&>section {

			width: 60%;
			margin-left: auto;

		}
	}

	.paragraph-center {
		margin-top: 100px;

		&>section {

			width: 60%;
			margin: auto;

		}
	}


	/* web only */

	.two-column-style{
		display:flex;
		justify-content: space-between;
		width: 100%;
		gap: 70px;

		margin-top: 130px;
		
	}

/* padding and margins */

	.padding-20{
		padding: 0px;
	}

	.margin-top-md{
		margin-top: 170px;
	}


	/* paragraph width */

	.paragraph-section{
		p{
			margin-top: 32px;
		}
	}

	.p-size-xs{
		max-width: 630px;
	}

	.p-size-m{
		max-width: 840px;
	}
	
	:root{
		max-width: 1296px;
		margin: auto;
	}

	article,nav,footer,h1{
		padding-inline: 0px;
		margin-inline: 0px;
	}

	.about{
		width: 30%;
		padding: 0px;
		margin: 0px;

		& li{
			padding-bottom: 5px;
			padding-top: 0px;
			
		}
	
		&>ul{
			gap: 24px;
	
			margin-bottom: 37px;
		}

	}

	.introduction{
		width: 60%;
		margin: 0px;
		padding: 0px;
	}



	/* titles, text sizes */

	.title-2 {
		font-size: 60px;
		line-height: 80px;
		font-weight: 600;
	}

	:root {
		font-size: 24px;
		line-height: 42px;
	}

	.h2-landing-sm {

		border-bottom: 1px solid var(--black);
		padding-bottom: 18px;
	
		font-size: 32px;
		line-height: 43px;

		margin-bottom: 56px;
	}

	.button-secondary{

		width: 100%;
		font-size: 18px;
		line-height: 24px;


	}

	.block-quotes{
		font-size: 32px;
		line-height: 42px;

		padding: 44px;
		margin-block: 75px;
	}


}