

.font-Laila {
	font-family: "Laila", serif;
}

.font-Inter {
	font-family: "Inter", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}

:root{
	font-size:16px;
}

.padding{
	padding-inline: 25px;
}

.background-red{
	background-color:  #D94848;}

h1 {
	font-size: 2.3rem;
	text-align: center;
	border-bottom: black solid 2px;
	padding: 25px;
}

.background-grid{
	background-size: 10px 10px;
	background-image:  linear-gradient(to left, rgb(238, 235, 235) 1px, transparent 1px),
    linear-gradient(to bottom, rgb(234, 230, 230) 1px, transparent 1px);
}

.container-section{
	padding-inline: 20px;
	border-bottom: 2px solid black;
	padding-block: 32px;

	&>p{
		margin-top: 20px;

	}
}

.text-sm {
	font-size: 16px;
	line-height: 26px;
}

.text-quotes {
	font-size:20px;
	line-height: 30px;
	font-weight: bold;
	font-style:italic;
}


.floating-quotes{
	
	margin-inline: 25px;
	margin-blovk
	
	
	& :nth-of-type(2n){
		transform: rotate(-6deg);
	}
	
	& :nth-of-type(2n +1){
		transform: rotate(6deg);
	}
	
	&>p{
		position: relative;
		&:hover {
			z-index: 1;
			transform: none;
		}
		border-radius: 12px;
		background-color: white;
		padding-inline: 16px;
		padding-block: 10px;

		margin-top: 12px;

		box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;	}
}