:root {
	--size: 25px;
}

.font-titles {
	font-family: "Turret Road", sans-serif;
}

.font-texts {
	font-family: "Andika", sans-serif;
}

.margin-25 {
	margin-inline: 25px;
}

article {
	position: relative;
	--color: #978dff1c;

	margin-top: calc(var(--size) * -1);
	padding-top: calc(var(--size) + 40px);

	background-image: linear-gradient(to right,
			var(--color) 3%,
			transparent 3%,
			transparent 50%,
			var(--color) 50%,
			var(--color) calc(50% + 3%),
			transparent calc(50% + 3%));
	background-position: 36px 0;
	background-size: calc(var(--size) * 4) 100%;
	background-repeat: repeat-x;
}


.effect {
	position: relative;
	z-index: 1;

	--color: #FF8B8B;
	--size: 25px;

	margin-top: 20px;

	height: calc(var(--size) * 3);

	background-image: linear-gradient(to right, var(--color) 25%, transparent 25%),
		linear-gradient(to right,
			transparent 50%,
			var(--color) 50%,
			var(--color) 75%,
			transparent 75%),
		linear-gradient(to right, var(--color) 25%, transparent 25%);

	background-position: 0% 0, 0% 50%, 0% calc(50% * 2);
	background-size: calc(var(--size) * 4) var(--size),
		calc(var(--size) * 4) var(--size), calc(var(--size) * 4) var(--size);
	background-repeat: repeat-x, repeat-x, repeat-x;
}


h1 {
	font-size: 46px;
	line-height: 46px;
	font-weight: 700;
	width: fit-content;

	margin-block: 32px;

}



h2 {

	color: #FFF;
	font-size: 32px;
	font-style: normal;
	font-weight: 700;
	line-height: 32px;
	width: 100%;
	padding: 10px 20px;
	border-radius: 5px;
	background: #918BFF;

	margin-top: 40px;
	margin-bottom: 10px;
}

nav {
	display: flex;
	justify-content: space-between;
	font-size: 20px;

	margin-top: 25px;

	&>button {
		text-transform: uppercase;
	}

}

.paragraph-container {


	&>p {

		font-size: 16px;
		line-height: 26px;

		padding-top: 16px;
	}

	& span {
		font-weight: 600;
		color: rgb(0, 0, 0);
		text-decoration: underline dashed tomato;
		text-decoration-thickness: 0.2rem;
	}

}