.item-container,
.group-1,
.group-2,
.item {
	transition: all 0.3s ease-in-out, margin 0s;
}

/* this only applies when chaos is selected */
:has(#chaos:checked) {
	.item-container {
		margin-bottom: 1rem;
		gap: 1rem;

		.group-1,
		.group-2 {
			border: none;
			padding-block: 0;
			margin-bottom: 0;
			position: relative;

		}

		.group-1 {
			.item:nth-child(1) {
				transform: rotate(45deg) translate(-30px, 20px);
			}

			.item:nth-child(2) {
				transform: rotate(70deg) translate(15px, -25px);
			}

			.item:nth-child(3) {
				transform: rotate(90deg) translate(-10px, 30px);
			}

			.item:nth-child(4) {
				transform: rotate(-45deg) translate(40px, -10px);
			}

			.item:nth-child(5) {
				transform: rotate(120deg) translate(-20px, 50px);
			}

			.item:nth-child(6) {
				transform: rotate(45deg) translate(25px, -40px);
			}
		}

		.group-2 {
			.item:nth-child(1) {
				transform: rotate(45deg) translate(-50px, 10px);
			}

			.item:nth-child(2) {
				transform: rotate(45deg) translate(30px, -15px);
			}

			.item:nth-child(3) {
				transform: rotate(45deg) translate(-35px, 5px);
			}

			.item:nth-child(4) {
				transform: rotate(-90deg) translate(20px, -30px);
			}

			.item:nth-child(5) {
				transform: rotate(-45deg) translate(-10px, -40px);
			}

			.item:nth-child(6) {
				transform: rotate(40deg) translate(50px, -60px);
			}
		}
	}
}

/* this only applies when order is selected */
:has(#order:checked) {
	.item-container {

		.group-1,
		.group-2 {
			border: 1px solid black;
			margin-bottom: 1rem;
		}

		.item {
			border-top-right-radius: 50%;
			border-top-left-radius: 50%;
			background-color: black;
			width: 44px;
			height: 44px;
		}
	}
}

/* this only applies when simplify is selected */
:has(#simplify:checked) {
	.item-container {
		margin-bottom: 1rem;
		gap: 1rem;

		.group-1,
		.group-2 {
			border: none;
			padding-block: 0;
			margin-bottom: 0;

			.item {
				background-color: white;
				border: 1px solid black;
				border-radius: 0;
			}
		}
	}
}

/* general styles */
.item-container {
	display: grid;

	.group-1 {
		margin-top: 24px;
	}

	.group-2 {
		margin-bottom: 24px;
	}

	.group-1,
	.group-2 {
		width: 246px;
		height: 152px;
		margin-inline: auto;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		gap: 1rem;
		padding: 24px;
	}

	.item {
		border-top-right-radius: 50%;
		border-top-left-radius: 50%;
		background-color: black;
		width: 44px;
		height: 44px;
	}
}

.items-container ul {
	display: flex;
	justify-content: center;
	margin-top: 16px;
	gap: 6px;


	li {
		cursor: pointer;

		border: solid 1px var(--black);
		border-radius: 2px;


		padding-inline: 24px;
		padding-block: 12px;

		text-align: center;

		text-transform: uppercase;

		&:hover {
			background-color: var(--black);
			color: var(--bg);
		}

		&:has(input:checked) {
			text-decoration: none;
			background-color: var(--black);
			color: var(--white);
		}
	}
}

.items-container {

	display: flex;
	flex-direction: column;
	gap: 1rem;


}

@media (min-width:1100px){

	.items-container{
		&>ul {
			gap: 10px;
			margin-top: 0px;
		}
	}

}

@media (min-width: 1440px) {

	.items-container {

		display: flex;
		flex-direction: row;
		justify-content: space-between;
	

		&>ul {
			flex-direction: column;
			justify-content: start;

			gap: 12px;

		}

	}

}