:root {
	--title2-bg: #CECECE;
}

/* margins */

.top-12 {
	margin-top: 12px;
	display: block;
}


h1 {
	padding-inline: 20px;
	text-align: center;

	width: 100%;

	font-size: 42px;
	line-height: 56px;
}



/* specific tags */



.container-h2 {
	margin-bottom: 56px;
	padding-inline: 20px;
	margin-top: 74px;

	&>p {
		margin-top: 20px;
	}
}

.balance {

	margin-top: 3rem;
	border: solid 1px var(--black);
	background-color: var(--white);

	padding-block: 34px;


	& h3 {
		margin-inline: auto;
		margin-bottom: 3rem;
		text-align: center;
		font-weight: 800;
	}

}





/* decorative texts */


.structure {

	display: block;
	width: fit-content;
	margin-inline: auto;
	margin-bottom: 12px;
	margin-top: 6px;
	color: #000BA0;
	padding-inline: 0.5rem;
	padding-top: 0.5rem;

	border: solid 2px #000BA0;
	background-size: 20px 20px;
	background-image:
		linear-gradient(to right, var(--title2-bg) 1px, transparent 1px),
		linear-gradient(to bottom, var(--title2-bg) 1px, transparent 1px);

	&:hover {
		background-color: #000BA0;
		color: var(--white);
		background-image: none;
	}
}


.simplicity {

	-webkit-text-fill-color: white;
	-webkit-text-stroke-width: 2px;
	-webkit-text-stroke-color: #007A37;


	border-bottom: solid 2px #007A37;

	&:hover {
		-webkit-text-fill-color: #007A37;

	}
}

.chaos {
	color: #870054;


	font-size: 62px;
	letter-spacing: -8.7px;

	font-family: "Rubik Glitch", system-ui;
	font-weight: 100;
	transition: letter-spacing 1s ease-in-out;

	&>:nth-child(1) {
		color: #F600C5;
	}

	&>:nth-child(2) {
		color: #F00;
	}

	&:hover {

		letter-spacing: -18.7px;


	}

}


@media (min-width:668px){
	h1{
	font-size: 60px;
	line-height: 90px;
	padding-inline: 100px;
	}

	.container-h2{
		padding-inline: 100px;
		margin-bottom: 80px;
		margin-top: 120px;
	}

	.chaos{
		font-size: 80px;
		line-height: 100px;
	}
}

@media (min-width:1100px) {
	.balance {
		padding-block: 24px;
	}

	.structure {
		display: inline;
		color: #000BA0;
		padding-inline: 0.5rem;
		padding-top: 0.5rem;
		border: solid 2px #000BA0;
		background-size: 20px 20px;
		background-image:
			linear-gradient(to right, var(--title2-bg) 1px, transparent 1px),
			linear-gradient(to bottom, var(--title2-bg) 1px, transparent 1px);

		&:hover {
			background-color: #000BA0;
			color: var(--white);
			background-image: none;
		}
	}

	.simplicity {

		-webkit-text-fill-color: white;
		-webkit-text-stroke-width: 4px;
		-webkit-text-stroke-color: #007A37;

		border-bottom: solid 4px #007A37;

	}

	.chaos {

		font-size: 110px;

	}

	h1 {
		text-align: left;
		font-size: 80px;
		line-height: 100px;
		padding-inline: 0px;
	}


	/* margins, paddings */

	.top-12 {
		margin-top: 0px;
	}

	.container-h2 {
		padding-inline: 0px;
		margin-top: 60px;
	}

	.colophone {
		width: 50%;
	}

	.create {
		width: 50%;
	}


	/* alignment of H1 */

	.and-height {
		line-height: 120px;
	}

	.align-2 {
		margin-left: auto;
		margin-top: 56px;
		z-index: 2;
	}

	.align-3 {
		display: flex;
		flex-direction: row;
		gap: 50px;
		margin-inline: auto;
		margin-top: 56px;
	}

	.align-5 {
		display: flex;
		justify-content: end;
		margin-top: 56px;
	}



	/* locating containers */

	article {
		display: flex;
		justify-content: space-between;
		gap: 42px;
	}

}



@media (min-width: 1440px) {


	/* margins, paddings */

	.balance {
		margin-top: 130px ;
		padding-block: 44px;
	}



	.colophone {
		width: 50%;
		font-size: 20px;
		line-height: 34px;
	}

	.create {
		width: 60%;
	}


	/* alignment of H1 */



	.align-3 {
		display: flex;
		flex-direction: row;
		gap: 50px;
		padding-left: 20%;
		margin-top: 56px;
	}



	/* locating containers */


}