h1 {
	padding-inline: 20px;
	width: fit-content;
	text-transform: uppercase;

	vertical-align: middle;
	font-weight: 600;

	margin-bottom: 44px;
	margin-top: 34px;
}



/* decorative elements */


.special-highlight {

	right: 201.494px;
	top: -33.818px;

	text-shadow: 7px 2px 2.3px rgba(0, 0, 0, 0.25);
	font-size: 60px;



	letter-spacing: -8.7px;


	&>:nth-child(1) {
		color: #F600C5;


		letter-spacing: -5.7px;

	}

	&>:nth-child(2) {
		color: #F00;

		letter-spacing: -8.7px;

	}

	&>:nth-child(3) {

		color: #009502;

		letter-spacing: -8.7px;


	}

}

@media (min-width: 1512px) {

	h1 {
		font-size: 90px;
		line-height: 120px;

		padding: 0px;

		margin-top: 130px;
		margin-bottom: 62px;

	}

	.special-highlight {

		right: 201.494px;
		top: -33.818px;

		font-size: 120px;
		text-shadow: 17px 22px 12.3px rgba(0, 0, 0, 0.25);



		letter-spacing: -18.7px;


		&>:nth-child(1) {
			color: #F600C5;


			letter-spacing: -18.7px;

		}

		&>:nth-child(2) {
			color: #F00;

			letter-spacing: -18.7px;

		}

		&>:nth-child(3) {

			color: #009502;

			letter-spacing: -18.7px;


		}

	}
}