:root {
	--main-color-1: #870054;

}

h1 {
	color: var(--main-color-1);
}

quote {
	font-size: 1rem;
	font-style: italic;
	font-weight: 400;

}



.title-2 {

	color: var(--main-color-1);
	border: none;

	font-family: "Rubik Glitch", system-ui;
	font-weight: 100;
	font-size: 40px;
	line-height: 50px;

}

/* decorative divs */

.random-words {
	margin-inline: 20px;
	margin-bottom: 34px;
	font-size: 40px;
	line-height: 50px;

	font-weight: 800;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	gap: 0.5rem;

	&>:nth-child(1) {
		transform: rotate(-10deg);
		color: #F600C5;
	}

	&>:nth-child(2) {
		transform: rotate(5deg);
		color: #F00;
	}

	&>:nth-child(3) {
		transform: rotate(-5deg);
		color: #009502;
	}
}

.balance {
	width: 60%;
	margin-inline: auto;
	margin-bottom: 34px;
	height: 200px;
	border-radius: 50%;
	border: 2px solid #8d0158;

	background-color: #ffffff;

	background-image: radial-gradient(circle at center center, #8d0158, #ffffff), repeating-radial-gradient(circle at center center, #8d0158, #8d0158, 20px, transparent 30px, transparent 20px);
	background-blend-mode: multiply;
}

.punk {
	margin-inline: 20px;
	font-size: 60px;
	line-height: 80px;
	color: var(--bg-color-1);
	font-weight: 800;
	display: flex;
	flex-direction: row;
	gap: 2px;

	& p {
		padding-inline: 6px;
	}

	&>:nth-child(1) {
		background-color: #009502;
		transform: rotate(-5deg);
	}

	&>:nth-child(2) {
		background-color: #F600C5;
		transform: rotate(5deg);
	}

	&>:nth-child(3) {
		background-color: #870054;
		transform: rotate(-5deg);
	}

	&>:nth-child(4) {
		background-color: #F00;
		transform: rotate(5deg);
	}

}

/* decorative elements */

.special-h1 {

	display: inline-block;
	transform: rotate(-5deg);

	font-size: 70px;

	letter-spacing: -8.7px;

	font-family: "Rubik Glitch", system-ui;
	font-weight: 400;

	&>:nth-child(1) {
		color: #F600C5;
		letter-spacing: -5.7px;
	}

	&>:nth-child(2) {
		color: #F00;
		letter-spacing: -8.7px;
	}

	&>:nth-child(3) {
		color: #009502;
		letter-spacing: -8.7px;
	}

}

.text-highlight {
	font-family: "Rubik Glitch", system-ui;
	font-weight: 100;
	font-size: 1.2rem;
	color: var(--main-color-1);
	margin-inline: 0.3rem;
}

.special-highlight {

	display: inline-block;

	margin-right: 0.5rem;


	letter-spacing: -1.7px;

	font-family: "Rubik Glitch", system-ui;

	&>:nth-child(1) {
		color: #F600C5;
		letter-spacing: -5.7px;
	}

	&>:nth-child(2) {
		color: #F00;
		letter-spacing: -8.7px;
	}

	&>:nth-child(3) {
		color: #009502;
		letter-spacing: -8.7px;
	}
}


.block-quotes {

	width: fit-content;
	max-width: 1100px;
	text-align: center;


	padding-inline: 24px;
	padding-block: 24px;

	font-size: 20px;
	line-height: 30px;


	font-style: italic;

	margin-block: 54px;

	border: 2px solid var(--main-color-1);
	border-style: dashed;
	color: var(--main-color-1);
	border-radius: 4px;

	&>span {
		font-weight: 100;
		font-family: "Rubik Glitch", system-ui;
		font-size: 1.3rem;
		margin-right: 0.3rem;
	}

}

@media (min-width:668px){
	.special-h1{
		font-size: 100px;
	}

	.title-2{
		font-size: 50px;
		line-height: 60px;
	}

	.special-highlight{
		padding-inline: 0px;
	}

	.block-quotes {
		border: 3px solid var(--main-color-1);
		border-style: dashed;
		margin-inline: 100px;
		font-size: 26px;
		line-height: 40px;

		padding: 44px;
		margin-block: 75px;
	}
	.random-words{
		margin-inline: 100px;
		font-size: 44px;
	}

	.punk{
		margin-inline: 100px;
		font: 44px;
	}


}

@media (min-width: 1100px) {

	.balance {
		width: 20%;
	
		margin: auto;

		background-image: radial-gradient(circle at center center, #8d0158, #ffffff), repeating-radial-gradient(circle at center center, #8d0158, #8d0158, 30px, transparent 60px, transparent 30px);
		background-blend-mode: multiply;
	}

	.punk {
		margin: auto;
		font-size: 80px;
		line-height: 100px;
	}

	.random-words {
		text-align: center;
		margin: auto;
		font-size: 80px;
		line-height: 100px;

		display: flex;
		flex-direction: column;


		&>:nth-child(1) {
			transform: rotate(-10deg);
		}

		&>:nth-child(2) {
			transform: rotate(10deg);
		}

		&>:nth-child(3) {
			transform: rotate(10deg);
		}
	}



	.title-2 {
		font-size: 68px;
		line-height: 78px;
	}

	.special-h1 {

		transform: rotate(-10deg);

		font-size: 130px;

		letter-spacing: -18.7px;

		&>:nth-child(1) {
			letter-spacing: -18.7px;
		}

		&>:nth-child(2) {
			letter-spacing: -18.7px;
		}

		&>:nth-child(3) {
			letter-spacing: -18.7px;
		}

	}



	.block-quotes {
		margin-inline: auto;
	}
}

@media (min-width: 1440px) {


	.balance {
		height: 300px;

		background-image: radial-gradient(circle at center center, #8d0158, #ffffff), repeating-radial-gradient(circle at center center, #8d0158, #8d0158, 40px, transparent 80px, transparent 40px);
		background-blend-mode: multiply;
	}

	.punk {
		font-size: 100px;
		line-height: 120px;
	}

	.random-words {

		font-size: 100px;
		line-height: 120px;

	}



	.title-2 {
		font-size: 80px;
		line-height: 90px;

	}


}